# Ignore node_modules folder
node_modules/

# Ignore environment files
.env
.package-lock.json
.package.json
backend/controller/authController.js

# # Ignore build output (optional)
# dist/

# # Ignore macOS system files (optional)
# .DS_Store
path/to/problematic/file

node_modules/
*.log
dist/

backend/package-lock.json
backend/package.json



backend/node_modules



# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

frontend/inedx.html
# frontend/node_modules
frontend/package-lock.json
frontend/package.json
frontend/postcss.config.js
frontend/tailwind.config.js
frontend/vite.config.js